/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end css reset */


html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body{
    background-color: rgb(34, 34, 34);
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    text-shadow: 5px 5px 10px black;
}

/* icon position */
.icons{
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background: rgb(34, 34, 34); 
}
  

::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110); 
}


::-webkit-scrollbar-thumb:hover {
  background: #343A40; 
}


/* navbar buttons*/
.btn {
  line-height: 30px;
  height: 50px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

/* buttons */
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* Background video index */
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100vh;
  height: 100vh;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.custom-margin-top {
    margin-top: 20%;
}

/* Navbar */
.nav{
  position: absolute;
}

.bg-dark{
  background-color: #00000000 !important;
}

/* background Work and About me */
.work-bg{
  background: linear-gradient(
    to top right,
    #041C32 0%,
    #041C32 50%,
    #064663 50%,
    #064663 100%
  );

    /* parallax scrolling background */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
  margin-top: 20vh;
  width: fit-content;
  margin-left: 10vh;
}

container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

p.textdesc{
  height: 150%;
  font-size: 150%;
  margin-top: 12vh;
  margin-left: 10vh;
}

/* text under name */
.sd{
  margin-top: 10px;
  color: #ECB365;
}

.nima{
  font-size: 350%;
}

.namePhoto{
  margin-top: 30%;
  margin-left: 30%;
}

.fotome{
  width: 55%;
  border: 3px solid #ECB365;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -8vh;
}

/* work in progress text */
.soon{
  margin-top: 8,9vh;
  margin-left: 10vh;
  color: #ECB365;
}

/* rows for showing work */
.myWork{
  float: left;
  margin-left: 50px;
}

img.size{
  width: 70%;
  height: auto;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

img.size1{
  width: 70%;
  height: 92%;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.workText{
  margin-right: 10%;
  margin-top: 5%;
}

.langUsed{
  margin-top:  10%;
  margin-bottom: 3%;
}

.langUsed2{
  margin-top: 23%;
  margin-bottom: 3%;
}

.langUsed3{
  margin-top:  14.5%;
  margin-bottom: 3%;
}

.workTitle{
  margin-top: 3%;
  color: #ECB365;
}

.works{
  margin-top: 50px;
  margin-left: 50px;
  background-color: #04293A;
  border-radius: 3px;
  border: 3px solid #ECB365;
  width: 90%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 6px 6px;
}

.worktitle{
  margin-left: 50px;
  margin-top: 50px;
}

h1{
  font-size: xx-large;
}

/* navbar name */
.navbar-brand{
  margin-left: 35px;
}

hr{
  background-color: #ECB365;
  height: 3px;
  margin-top: -5px;
  width: 100%;
}

.textsize{
  font-size: 150%;
}

.WAI{
  font-size: 300%;
  margin-top: -5vh;
}

/* columns about me */
.containerColls{
  width: 900px;
  margin: 0 auto;
}
.main-column{
  float: left;
  margin-top: 3%;
  margin-left: -3%;
  width: 50vw;
  border-left: 240px solid transparent;
}
.sidebar{
  float: right;
  width: 25vw;
  height: 70vh;
  margin-right: 25%;
  margin-top: 5%;
  position: relative;
}

.Abtme{
  margin-top: 10vh;
  font-size: 120%;
}

.fotome2{
  width: 75%;
  border-radius: 2px;
  border: 3px solid #ECB365;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-left: 10vw;
}

/* contact page */
.contacttitle{
  text-align: center;
  margin-top: 10vh;
  font-size: 500%;
}

.contactbar{
  margin-top: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #04293A;
  border-radius: 3px;
  border: 3px solid #ECB365;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px;
}

.wwm{
  font-size: 300%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2vh;
}

.wwm2{
  font-size: 300%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10vh;
}

.contactinfo{
  font-size: 230%;
  margin-left: 27vw;
  margin-bottom: 5%;
}

a{
  color: #FFF;
}
.icons{
  width: 2vw;
  float: left;
  color: #ECB365;
}